PORT=8787
PUBLIC_ORIGIN=https://omgithub.com
PUBLIC_ALIASES=lolgames.net
GITHUB_OWNER=AgentsLoop
GITHUB_REPO=OhMyGithub
GITHUB_TOKEN=
OMGHITHUB_BUILD_OWNER=AgentsLoop
OMGHITHUB_BUILD_REPO=omsite
OMGHITHUB_BUILD_REF=main
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=
OMG_FALLBACK_OWNER=AgentsLoop
OMG_FALLBACK_REPO=OhMyGithub
OMG_FALLBACK_REF=main
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
SESSION_SECRET=
SUPABASE_DB_URL=
SOCIAL_WRITES_PAUSED=false
DATA_DIR=./data
